﻿@{
    ViewBag.Title = "Home Page";
}


<div ng-controller="CatalogController" class="container">

    <p>Denne siden er et eksempel på hvordan flere applikasjoner kan integreres inn i en tenkt elektronisk pasientjournal. </p>

    <div class="row">

        <div  ng-repeat="app in appList" class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <a href="/Home/LaunchApp?redirect={{app.url}}&launch=@ViewBag.Token"><img class="img-responsive" src="{{app.image}}" alt="{{app.name}}"/></a>
            </div>

            <div class="caption">
                <h3>{{app.name}}</h3>
                <p>{{app.description}}</p>

            </div>
        </div>  

    </div>

</div>


<div class="container">
@if (ViewBag.Token != null)
{
    <hr />
    <p>Checked token content = @ViewBag.Token</p>
    <hr />
}
else {
    <p>No token passed</p>
}
    <!--<p>RawCertData = @ViewBag.PublicKeyXML</p>-->
</div>

